nav{
    position: absolute;
    top: 0;
    width: 100%;
    height: $navheigth;
    z-index: 999;
    padding: 30px 0px;

    @include transition(background 0.2s linear 0s,height 0.2s linear 0s);

    .nav-wrapper {
        width: 90%;
        max-width: 1450px;
        margin: 0 auto;
        height: 100%;
    }
    #toggle{float: right; padding: 20px; cursor: pointer;}
    .logo{
        height: 100%;
        float: left;
        img{height: 100%;}
    }
    ul {
        display: block;
        margin: 0px;
        padding: 0px;
        float: right;
        li {
            margin: auto;
            padding: 20px 10px;
            display: inline-block;
            height: 100%;
            a{
                color: white;
                cursor: pointer;
                &:hover {
                    color: $primary-green;
                    text-decoration: none;
                }
            }
        }
        .bg1{color: $primary-green;}
        #dropdown{cursor: pointer;}
    }
    &.fixed-nav {
        position: fixed;
        height: $navheigth - 70px;
        padding: 10px 0;
        background-color: rgba(white, .95);
        /*display: none;*/
        li {
            padding: 5px 10px;
            a {
                color: $dark-grey;
            }
        }
    }
}
.programming{
    padding:  0 auto 0 auto;
    text-align: center;
    display: none;
    position: fixed;
    top: $navheigth;
    left: 0px;
    width: 100%;
    height: 130px;
    li{
        height: 80%;
        margin: 10px 0px;
        width: 24%;
        text-align: center;
        color: white;
        p{font-size: 0.7em;}
        i{width: 100%; font-size: 1.2em;}

    }
    li:first-child{background-color: $dark-grey;}
    li:nth-child(2){background-color: $primary-green;}
    li:nth-child(3){background-color: $light-grey;}
    li:nth-child(4){background-color: $light-orange;}
}
.rotate{
    -webkit-transition: -webkit-transform .2s ease-in-out;
                    transition: transform .2s ease-in-out;
}
.rotate:hover{
    @include rotate(360deg);
}
.animation-menu{
    height: 90px;
    padding-top: 10px;
    ul>li>ul{padding-top: 10px;}
}
@media screen and (max-width: 900px) {
    nav {
        ul {
            display: none;
            width: 100%;
            li {display: block;}
        }
    }
    .programming{
        position: relative;
        top: inherit;
        height: auto;
        li{display: inline-block;}
    }
}
@media screen and (min-width: 901px) {
    #toggle{display:none;}
}
