nav{
    position: absolute;
    top: 0;
    width: 100%;
    height: $navheigth;
    z-index: 999;
    padding: 0px;
    background-color: transparent;

    @include transition(background 0.2s linear 0s,height 0.2s linear 0s);

    .nav-wrapper {
        width: 90%;
        max-width: 1450px;
        margin: 0 auto;
        height: 100%;
    }
    #toggle{float: right; padding: 20px; cursor: pointer;}
    .logo{
        height: 100%;
        float: left;
        padding: 20px 0px;
        img{height: 100%;}
    }
    .link-list {
        display: block;
        margin: 0px;
        padding: 0px;
        float: right;
        li {
            margin: auto;
            padding: 40px 10px;
            display: inline-block;
            height: 100%;
            a{
                color: white;
                cursor: pointer;
                &:hover {
                    color: $primary-green;
                    text-decoration: none;
                }
            }
        }
        .bg1{color: $primary-green;}
        #dropdown{cursor: pointer;}
    }
    &.fixed-nav {
        position: fixed;
        height: $navheigth - 50px;
        background-color: rgba(white, .95)!important;
        .link-list li {
            padding: 15px 10px;
            a {
                color: $dark-grey;
            }
        }
    }
    &.slide-down {
        background-color: rgba(black, .7);
    }
}
.programming{
    padding: 0px;
    text-align: center;
    display: none;
    top: $navheigth;
    left: 0px;
    width: 100%;
    margin-top: 0px;
    li{
        font-size: 1.1em;
        font-weight: bold;
        padding: 60px 25px;
        display: block;
        float: left;
        height: 100%;
        width: 20%;
        text-align: left;
        color: white;
        background-color: black;
        &:nth-child(1) {
            @include color-over-image(url(../images/geral.jpg), top, rgba(black, .3), rgba(black, .3));
            background-position: bottom;
            /*background-image: url(../images/geral.jpg);*/
            @extend %bg-cover-center;
            &:hover {
                @include color-over-image(url(../images/geral.jpg), top, rgba(darken($primary-green, 15%), .85), rgba(darken($primary-green, 15%), .85));
            }
        }
        &:nth-child(2) {
            @include color-over-image(url(../images/minicursos.jpg), top, rgba(black, .3), rgba(black, .3));
            @extend %bg-cover-center;
            &:hover {
                @include color-over-image(url(../images/minicursos.jpg), top, rgba(darken($primary-green, 15%), .85), rgba(darken($primary-green, 15%), .85));
            }
        }
        &:nth-child(3) {
            @include color-over-image(url(../images/maratona.jpg), top, rgba(black, .3), rgba(black, .3));
            @extend %bg-cover-center;
            &:hover {
                @include color-over-image(url(../images/maratona.jpg), top, rgba(darken($primary-green, 15%), .85), rgba(darken($primary-green, 15%), .85));
            }
        }
        &:nth-child(4) {
            @include color-over-image(url(../images/startup.jpg), top, rgba(black, .3), rgba(black, .3));
            @extend %bg-cover-center;
            &:hover {
                @include color-over-image(url(../images/startup.jpg), top, rgba(darken($primary-green, 15%), .85), rgba(darken($primary-green, 15%), .85));
            }
        }
        &:nth-child(5) {
            @include color-over-image(url(../images/paper.jpg), top, rgba(black, .3), rgba(black, .3));
            @extend %bg-cover-center;
            &:hover {
                @include color-over-image(url(../images/paper.jpg), top, rgba(darken($primary-green, 15%), .85), rgba(darken($primary-green, 15%), .85));
            }
        }
    }
}
.rotate{
    -webkit-transition: -webkit-transform .2s ease-in-out;
                    transition: transform .2s ease-in-out;
}
.rotate:hover{
    @include rotate(360deg);
}
.animation-menu{
    height: 90px;
    padding-top: 10px;
    ul>li>ul{padding-top: 10px;}
}
@media screen and (max-width: 900px) {
    nav {
        ul {
            display: none;
            width: 100%;
            li {display: block;}
        }
    }
    .programming{
        position: relative;
        top: inherit;
        height: auto;
        li{display: inline-block;}
    }
}
@media screen and (min-width: 901px) {
    #toggle{display:none;}
}
