.sub-title {
    text-align: center;
    /*line-height: */
    font-size: 1.8em;
    /*font-family: */
    font-weight: normal;
    margin-bottom: 40px;
}
.text-aboutus {
    text-align: justify;
    text-indent: 26px;
}
.active {
    color: $primary-green!important;
}
