.sub-title {
    text-align: center;
    /*line-height: */
    font-size: 1.9em;
    font-weight: normal;
    margin-bottom: 40px;
}
.text-aboutus {
    text-align: justify;
    text-indent: 20px;
}
.active {
    color: $primary-green!important;
}

.alert {
    height: 50px;
    line-height: 47px;
    width: 100%;
    border-radius: 5px;
    background-color: #FCF8E3;
    border: 1px #FAEBCC solid;
}

.year-color {
    color: $primary-green;
}
