.sub-title {
    text-align: center;
    /*line-height: */
    font-size: 1.9em;
    font-weight: normal;
    margin-bottom: 40px;
}
.text-aboutus {
    text-align: justify;
    text-indent: 20px;
}
.active {
    color: $primary-green!important;
}
