#data {
    background-image: url(../images/salvador.jpg);
    @extend %bg-cover-center;

    .bg-test {
        background-color: rgba(black, .7);
    }
}

.data-unit {
    text-align: center;
    h1 {
        font-size: 6em;
        margin: 10px 0 0 0;
        height: 80px;
        line-height: 100px;
        color: $primary-green;
    }
    h3 {
        font-size: 1.5em;
        margin-top: 0;
        color: white;
    }
}

.data-actions {
    width: 100%;
    padding: 10px 0;
    overflow: auto;
    text-align: center;
    .btn {
        display: inline-block;
        margin: 10px 10px;
        width: 220px;
        height: 45px;
        font-size: 15px;
    }
}
