.default-header {
    width: 100%;
    height: 300px;
    background-color: black;
    z-index: 10;
    @extend %bg-cover-bottom;
}
.header-aboutus{
    background-image: url('../images/bg-aboutus.jpg')!important;
}
.header-papers{
    background-image: url('../images/bg-papers.jpg')!important;
}
.header-schedule{
    background-image: url('../images/bg-schedule.jpg')!important;
}
.header-maratona{
    background-image: url('../images/bg-maratona.jpg')!important;
}
.header-courses{
    background-image: url('../images/bg-courses.jpg')!important;
}
.header-startups{
    background-image: url('../images/bg-startups.jpg')!important;
}
.header-tickets{
    background-image: url('../images/bg-tickets.jpg')!important;
}
.home-header {
    position: relative;
    width: 100%;
    height: 700px;
    overflow: hidden;

    .home-bg-video {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -5;
    }

    .overlay {
        padding-top: 110px;
        background-color: rgba(0, 0, 0, 0.4);
    }
}

.overlay {
    width: 100%;
    height: 100%;
    position: relative;
}

.social-networks {
    position: relative;
    margin: 0 auto;
    text-align: center;

    i {
        display: inline-block;
        font-size: 23px;
        margin: 10px 20px;
    }
    a, a:hover, a:focus {
        text-decoration: none;
    }
}

.social-networks-header {
    a, a:hover, a:focus {
        color: white;
    }
    a:hover {
        color: $light-orange;
    }
}

.intro-wrapper {
    margin-top: 80px;
    padding: 2em;
    position: relative;
    text-align: center;
    color: white;
    .semcomp-presents {
        font-size: 1.7em;
    }
    .semcomp-title {
        font-size: 3.5em;
        border-bottom: 1px solid $primary-green;
        margin: 40px auto 0 auto;
        width: 400px;
        max-width: 95%;
        span {
            color: $primary-green;
        }
    }
    .semcomp-date {
        font-size: 2.2em;
        margin-top: 10px;
        margin-bottom: 0px;
    }
    .semcomp-local {
        font-size: 1.7em;
        margin-top: -5px;
        margin-bottom: 0px;
        display: block;
    }
}

@media screen and (max-width: 500px) {
    .semcomp-title {
        margin: 20px auto 0 auto!important;
        font-size: 1.8em!important;
    }
    .semcomp-date {
        font-size: 1.4em!important;
    }
    .semcomp-presents {
        font-size: 1.2em!important;
    }
}
