.papers-content {
    display: inline-block;
    padding: 50px 40px;
    h3 {
        margin-top: 40px;
        margin-bottom: 20px;
    }
    p {
        margin-top: 30px;
        margin-bottom: 20px;
    }
    h4 {
        margin-top: 20px;
        margin-bottom: 10px;
    }
}
