#keynotes {
    z-index: 100;
    background-image: url('../images/bg-keynotes.jpg');
    background-size: cover;
    background-position: center;

    .content {
        padding-top: 40px;
    }
    .sub-title {
        color: $light-grey;
        margin-bottom: 50px;
    }
}

.keynote {
    padding: 10px;
    margin-top: 40px;
    opacity: 0;
    color: white;

    .keynote-thumb {
        width: 200px;
        height: 200px;
        overflow: hidden;
        display: block;
        margin: 0 auto;

    }
    .keynote-info {
        width: 100%;
        padding: 10px 20px;

        text-align: center;
    }
    .keynote-name {
        margin: 0;
    }
    .keynote-title {}
}

.speaker-thumb {
    border-radius: 100%;
}


