#sponsors {
    background-image: url('../images/bg-partners.jpg');
    background-size: cover;
    background-position: center;
}

.sponsor-type {
    font-weight: bold;
    text-align: center;
    margin-bottom: 0;
    margin-top: 25px;
}

.sponsor-unit {
    padding-bottom: 15px;
    text-align: center;
    img {
        width: auto;
        display: inline-block;
        margin: 10px 30px;
    }
}

.sponsor-diamond img {
    height: 100px;
}

.sponsor-gold img {
    height: 80px;
}

.sponsor-silver img {
    height: 70px;
}

.sponsor-bronze img {
    height: 60px;
}

.sponsor-support img {
    height: 60px;
}


@media screen and (max-width: 500px) {
    .sponsor-unit img {
        margin: 10px;
        max-height: 80px;
    }
}
