.sponsor-type {
    font-weight: bold;
    text-align: center;
    margin-bottom: 0;
    margin-top: 25px;
}

.sponsor-unit {
    padding-bottom: 15px;
    text-align: center;
    img {
        height: 50px;
        width: auto;
        display: inline-block;
        margin: 10px 30px;
    }
}

.sponsor-diamond img {
    height: 100px;
}

.sponsor-gold img {
    height: 80px;
}

.sponsor-silver img {
    height: 70px;
}

.sponsor-bronze img {
    height: 60px;
}
