#keynotes {
    margin-top: -75px;
    z-index: 100;

    .content {
        padding-top: 0;
    }
}

.keynote {
    padding: 10px;

    .keynote-thumb {
        width: 200px;
        height: 200px;
        overflow: hidden;
        display: block;
        margin: 0 auto;

    }
    .keynote-info {
        width: 100%;
        padding: 10px 20px;

        text-align: center;
    }
    .keynote-name {
        margin: 0;
    }
    .keynote-title {}
}

.speaker-thumb {
    border-radius: 100%;
}


